{% extends 'base.html' %}

{% block body %}
<h1 style="text-align: center; margin-top: 30px;">Conference Presentations</h1>
<div class="card-group">
    <div class="row card" style="margin: 20px;">
        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> Datafying the Reproductive Body in India: Everyday Data Practices and the Politics of Er
                    <br><b>(2022)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Paro Mishra, Ravinder Kaur, Shambhawi Vikram, Prashastika Sharma
                </footer>
            </div>

            <div class="card-footer text-muted">
                Venue: Oxford Department of International Development, University of Oxford, UK.
            </div>
        </div>

        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> I could have actually died...": Pandemic Biopolitics Meets Reproductive Health Self-tracking in
                    India.<br><b>(2022)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Gayatri Nair
            </div>

            <div class="card-footer text-muted">
                Venue: University of Belfast, UK
            </div>
        </div>



        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5>Kinning Across Borders: Reverse Intergenerational Care Circulation between Indian Aging parents and
                    their Migrant Children in a Transnational Context. <br><b>(2022)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Shivangi Patel, Paro Mishra
                </footer>
            </div>

            <div class="card-footer text-muted">
                Venue: University of Belfast, UK
            </div>
        </div>


        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5>Femtech Applications, Biopolitics of the Self, and the Making of the Digitised Reproductive Citizen
                    In India <br><b>(2021)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Paro Mishra, Ravinder Kaur, Shambhawi Vikram, Prashastika Sharma
                </footer>
            </div>

            <div class="card-footer text-muted">
                Venue: University of Monash and University of Nottingham, Malaysia
            </div>
        </div>


        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5>Unexceptional Neoliberalism and the Future of Work: Constrained Enterprise and Worker Subjectivities
                    in the Gig Economy of India <br><b>(2021)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Gayatri Nair, Jennifer Divyadarshi</footer>
            </div>

            <div class="card-footer text-muted">
                Venue: Southern Center for Inequality Studies, University of Witwatesrand
            </div>
        </div>










    </div>

    {% endblock %}



    </html>