{% extends 'base.html' %}

{% block body %}
<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true ">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <img src="/static/pic13.jpg" class="d-block " alt="..." width="1200px" height="380px"
                style="margin-left: 30px ; ">
        </div>
        <div class="carousel-item">
            <img src="/static/pic6.jpg" class="d-block " alt="..." width="1200px" height="380px"
                style="margin-left: 30px;">
        </div>
        <div class="carousel-item">
            <img src="/static/I1.png" class="d-block " alt="..." style="margin-left: 250px;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
<div class="p-3 mb-4 bg-light rounded-3">
    <div class="row">
        <div class="col container-fluid py-2">
            <h1 class="display-8 fw-bold timenav" style="text-align: center; font-size: 40px;">About</h1>
            <p class="time">The Ethnography Lab at SSH, IIITD will be a faculty and student collaboration led
                research hub to promote ethnographic research methods for studying the contemporary world. The lab
                will
                promote and teach fieldwork, empirical data collection and participant observation at both
                undergraduate
                and post-graduate level with the aim of shifting mode of learning to participation and hands-on
                engagement and thus moving beyond classroom learning.Highly sought after by industry, public policy,
                entrepreneurial community and social welfare groups, the Lab will offer a space where students and
                others at any stage of their ethnographic projects can share their work in progress to get feedback,
                mentorship and guidance from faculty specializing in ethnographic and field research methods.</p>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Notice</h4>
                    <p class="mb-0">Stay informed with the latest notices and important updates from Ethnography Labs at
                        IIIT Delhi. Explore our Notice section for timely announcements, event details, and
                        opportunities for engagement.</p>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Archives</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="https://www.tandfonline.com/doi/abs/10.1080/09584935.2022.2099813?journalCode=ccsa20"
                                target="_blank">20 Jul 2022</a></li>
                        <li><a href="https://wiredspace.wits.ac.za/items/d456a66e-278d-421e-9e70-8e23260ddedb"
                                target="_blank">15 Nov 2022</a></li>



                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}



</html>