{% extends 'base.html' %}

{% block body %}
<br>
<br>

<div class="col-lg-6 col-md-8 mx-auto" style="text-align: center;">
    <h1 class="fw-light" style="text-align: center;"><b>Team</b></h1>
    <!-- <p class="lead text-muted" style="text-align: center;">Something short and leading about the collection below—its
        contents, the creator,
        etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    <p> -->

</div>

<div class="row mb-2" style="margin: 55px;">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Paro Mishra</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">Research Areas: Gender and
                    Technology, New
                    reproductive
                    Technologies,
                    Digital Technologies, Demographic Anthropology, Intimate Relations, Migration and Transnationalism
                </p>
                <a href="https://www.iiitd.ac.in/paro" target="_blank" class="stretched-link"></a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/paro.jpg" width="150" height="180">

            </div>
            <div class="card-footer">
                <small class="text-muted">paro.mishra@iiitd.ac.in</small>
            </div>

        </div>

    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Gayatri Nair</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">Research Areas: Informal
                    Labour, Urban
                    Informalities, Technology,
                    Gender, and
                    Caste, Digital work and
                    platform economy,Future of Workers
                    Resource-based livelihoods. </p>
                <a href="https://www.iiitd.ac.in/gayatri" target="_blank" class="stretched-link"></a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/gayatri.jpg" width="150" height="180">

            </div>
            <div class="card-footer">
                <small class="text-muted">gayatri@iiitd.ac.in</small>
            </div>

        </div>

    </div>
</div>

<!-- 1 and 2 -->
<div class="row mb-2" style="margin: 55px;">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Shivangi Patel (PhD20403)</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">
                    Research Areas: Living Apart Together; A Study of Intergenerational Care Circulation in
                    Transnational context with a focus on Indian Older Persons.</p>
                <!-- <a href="https://www.iiitd.ac.in/paro" class="stretched-link"></a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/stud_1.png" width="170" height="180">

            </div>
            <div class="card-footer">
                <small class="text-muted">shivangip@iiitd.ac.in</small>
            </div>

        </div>

    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Manta Wangsu (PhD20406)</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">
                    Research Areas: Resource Extractions, Infrastructural Development, Tribes, Northeastern Studies</p>
                <!-- <a href="https://www.iiitd.ac.in/gayatri" class="stretched-link"></a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/stud_2.png" width="170" height="180">

            </div>
            <div class="card-footer">
                <small class="text-muted">mantaw@iiitd.ac.in</small>
            </div>

        </div>

    </div>
</div>

<!-- 3 and 4 -->
<div class="row mb-2" style="margin: 55px;">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Madhuvani Y (PhD21410)</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">
                    Research Areas: Politics of/in urban
                    space<!-- <a href="https://www.iiitd.ac.in/paro" class="stretched-link"></a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/stud_3.png" width="150" height="180">

            </div>
            <div class="card-footer">
                <small class="text-muted">madhuvaniy@iiitd.ac.in</small>
            </div>

        </div>

    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Aswino Gomango (PhD21405)</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">
                    Research Areas: Religious conversation and economy among tribes in
                    India.<!-- <a href="https://www.iiitd.ac.in/gayatri" class="stretched-link"></a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/stud_4.png" width="150" height="180">
            </div>
            <div class="card-footer">
                <small class="text-muted">aswinog@iiitd.ac.in</small>
            </div>

        </div>

    </div>
</div>

<!-- 5 and 6 -->
<div class="row mb-2" style="margin: 55px;">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Abhijay (Phd21406)</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">
                    Research Areas: Anthropology and Sociology of Sports, Anthropology of Public policy, South Asian
                    Anthropology, Body studies and Applied Social
                    Research.<!-- <a href="https://www.iiitd.ac.in/paro" class="stretched-link"></a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/stud_5.jpg" width="150" height="180">

            </div>
            <div class="card-footer">
                <small class="text-muted">abhijayi@iiitd.ac.in</small>
            </div>

        </div>

    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Piyush (PhD21409)</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">
                    Research Areas: Digital transformations and
                    Media.<!-- <a href="https://www.iiitd.ac.in/gayatri" class="stretched-link"></a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/stud_6.png" width="150" height="180">
            </div>
            <div class="card-footer">
                <small class="text-muted">piyushk@iiitd.ac.in</small>
            </div>

        </div>

    </div>
</div>

<!-- 7 and 8 -->
<div class="row mb-2" style="margin: 55px;">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Namrita Mandal (PhD21407)</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">
                    Research Areas: Recent trends of Bariatric surgery among younger urban population in Indian context
                    : A socio-cultural study.<!-- <a href="https://www.iiitd.ac.in/paro" class="stretched-link"></a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/stud_7.jpg" width="150" height="180">

            </div>
            <div class="card-footer">
                <small class="text-muted">namritam@iiitd.ac.in</small>
            </div>

        </div>

    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Monika Singh (PhD21408)</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">
                    Research Areas: Repartnerships in late
                    life.<!-- <a href="https://www.iiitd.ac.in/gayatri" class="stretched-link"></a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/stud_8.png" width="150" height="180">
            </div>
            <div class="card-footer">
                <small class="text-muted">monikasi@iiitd.ac.in</small>
            </div>

        </div>

    </div>
</div>

<!-- 9 and 10 -->
<div class="row mb-2" style="margin: 55px;">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Shiva S (PhD20401)</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">
                    Research Areas: Women Volunteers and Scheme Work: A study of ASHAs and Anganwadi Workers in
                    Delhi.<!-- <a href="https://www.iiitd.ac.in/paro" class="stretched-link"></a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/stud_9.png" width="150" height="180">

            </div>
            <div class="card-footer">
                <small class="text-muted">shivas@iiitd.ac.in</small>
            </div>

        </div>

    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"></strong>
                <h5 class="mb-0">Shruthy Harilal (PhD20404)</h5>
                <p class="card-text mb-auto " style="font-size: 15px; margin-top: 10px;">
                    Research Areas: “Cherujanmavakasham and Intergenerational mobility; A Sociological Study of Theyyam
                    among the Vannans of North
                    Kerala.”<!-- <a href="https://www.iiitd.ac.in/gayatri" class="stretched-link"></a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/stud_10.png" width="150" height="180">
            </div>
            <div class="card-footer">
                <small class="text-muted">shruthyh@iiitd.ac.in</small>
            </div>

        </div>

    </div>
</div>



<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>



{% endblock %}



</html>