{% extends 'base.html' %}

{% block body %}







<h1 class="time" style="text-align: center; margin-top: 30px; font-size: 35px;">Projects</h1>

<div class="card-group">
    <div class="row card" style="margin: 20px;">
        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> Digital Management of the Reproductive Body in India: Exploring Gendered Consequences of Self-
                    tracking via Femtech Mobile Phones Apps
                    <br><b>(2023)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Paro Mishra
                </footer>
            </div>

            <div class="card-footer text-muted">
                Funding Agency: Indian Council of Social Science Research, New Delhi.
            </div>
        </div>

        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> Femtech and the Possibilities, Pitfalls and Politics of Digital Reproductive Health Management in
                    India: Envisioning Better Reproductive Futures.
                    <br><b>(2021)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Paro Mishra, Ravinder Kaur, Pushpendra Singh
                </footer>
            </div>

            <div class="card-footer text-muted">
                Funding Agency: IITD-IIITD MFIRP
            </div>
        </div>



        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> Cross-country Queer Marriage Project <br><b>(2022)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Paro Mishra, Tannistha Samanta
                </footer>
            </div>

            <div class="card-footer text-muted">
                Funding Agency: Research Initiation Grant, IIITD
            </div>
        </div>


        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> Unexceptional Neoliberalism and the Political Economy of Platform Work in India
                    <br><b>(2021)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Gayatri Nair
                </footer>
            </div>

            <div class="card-footer text-muted">
                Funding Agency: Southern Center for Inequality Studies, University of Witwatesrand
            </div>
        </div>

        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> Skilling for the Gig Economy in India
                    <br><b>(2022)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Gayatri Nair
                </footer>
            </div>

            <div class="card-footer text-muted">
                Funding Agency: Research Initiation Grant, IIITD
            </div>
        </div>





    </div>

    {% endblock %}



    </html>