{% extends 'base.html' %}

{% block body %}
<h1 style="text-align: center; margin-top: 30px;">Publications</h1>
<div class="card-group">
    <div class="row card" style="margin: 20px;">
        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> One Size (doesn’t) Fit All: A Closer Look at FemTech Apps and Datafied Reproductive Body Projects
                    in
                    India -
                    <br><b>(Forthcoming)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Paro Mishra, Ravinder Kaur, Shambhawi Vikram
                </footer>
            </div>

            <div class="card-footer text-muted">
                Venue: Who is FemTech For? (Palgrave: UK)
            </div>
        </div>

        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> Unexceptional Neoliberalism: enterprise and informality in the gig economy of India.-
                    <br><b>(2022)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Gayatri Nair, Jennifer Divyadarshi
                </footer>
            </div>

            <div class="card-footer text-muted">
                Venue: SCIS Working Paper 35 (Southern Center for Inequality Studies, University of Witwatersrand)
            </div>
        </div>



        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> New Terrains of Precarity: Gig Work in India <br><b>(2022)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Gayatri Nair
                </footer>
            </div>

            <div class="card-footer text-muted">
                Venue: Journal Article (Contemporary South Asia, 30:3, DOI:
                https://doi.org/10.1080/09584935.2022.2099813)
            </div>
        </div>


        <div class=" col " style="margin: 10px;">
            <div class="card-header" style="background-color: blanchedalmond; text-align: center;">
                <h5> Set Adrift; Capitalist Transformations and Community Politics along Mumbai's Shore
                    <br><b>(2021)</b>
                </h5>
                <br>
                <footer class="blockquote-footer">Gayatri Nair
                </footer>
            </div>

            <div class="card-footer text-muted">
                Venue: Oxford University Press
            </div>
        </div>





    </div>

    {% endblock %}



    </html>